.theme-btn {
  @include display-style();
  position: fixed;
  top: 30%;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 5;
  background-color: $dark-background-color;
  color: $page-background-color;
}

.dark_mode {
  color: $primary-color;
  background-color: $dark-background-color;
  transition: background-color 2s ease;

  .theme-btn {
    background-color: $page-background-color;
    color: $dark-background-color;
  }

  .avatar-logo {
    color: $page-background-color;
  }

  .menu-icon {
    > * {
      background-color: $page-background-color;
    }
  }

  .nav_section {
    background-color: $dark-background-color;
    color: $primary-color;
  }

  .skills-item {
    img {
      background-color: $page-background-color;
      border-radius: 50%;
    }
  }

  .timeline-section {
    @include bp(550px) {
      border: 2px solid $dark-text-color;
    }
  }

  .timeline-title {
    h3 {
      @include bp(550px) {
        border-color: $dark-text-color;
      }
    }
  }

  .border {
    background-color: $secondary-color;
  }
}
