//Mixin for size properties
@mixin sizes($primary-width, $primary-height) {
  width: $primary-width;
  height: $primary-height;
}

//Mixin for display prperties
@mixin display-style(
  $display: flex,
  $align: center,
  $justify: center,
  $direction: row
) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin display-grid($column: auto, $row: auto){
  display: grid;
  grid-template-columns: $column;
  grid-template-rows: $row;
}

@mixin font-style(
  $size: 16,
  $weight: 400,
  $line-height: 1rem,
  $letter-space: 0em
) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-space;
}

