// Colors
$page-background-color: #f8efef;
$dark-background-color: #191919;
$gray-text-color: #B3B3B3;
$tex-color: #fff1f1;
$primary-color: #FFF;
$secondary-color: #edd8d8;
$dark-text-color: #333;
$transparent-color: transparent;
$highlight-color: #de6449;


$box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.1); 

// Sizes
$primary-width: 100%;
$primary-height: 100%;