.contact_form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;

    input {
        @include font-style();
        border: none;
        height: 35px;
        padding: 0 10px;
        outline: none;
        background-color: $transparent-color;
        border-bottom: 5px solid $dark-text-color;
        border-left: 5px solid $dark-text-color;
    }

    textarea {
        @include font-style();
        border: none;
        height: 100px;
        padding: 0 10px;
        outline: none;
        resize: none;
        background-color: $transparent-color;
        border-bottom: 5px solid $dark-text-color;
        border-left: 5px solid $dark-text-color;
    }

    button {
        color: $gray-text-color;
        display: block;
        margin: 0 auto;
        width: 20%;
        height: 30px;
        border: none;
        background-color: $transparent-color;
        border-right: 5px solid $dark-text-color;
        border-left: 5px solid $dark-text-color;
    }
}