.contact-container {
  @include display-style($justify: space-between);
  border-radius: 12px;
  margin: 0;
  gap: 40px;


  @include lg {
    @include display-style(
      $direction: column,
      $justify: space-between,
      $align: normal
    );
    height: 100%;
  }
}

.contact-section {
  margin-bottom: 20px;
}

.form-section {
  @include display-style(
    $direction: column,
    $justify: space-between,
    $align: normal
  );
  background-color: $primary-color;
  color: $dark-text-color;
  border-radius: 12px;
  flex: 1;
}

.contact-border {
  @include display-style(
    $direction: column,
    $justify: space-between,
    $align: normal
  );
  height: 100%;
  flex: 1;
  gap: 70px;


  @include lg {
    gap: 30px;
  }

  h1 {
    flex: 1;

    @include font-style(
      $size: 1.9rem,
      $weight: 600,
      $line-height: 2rem,
      $letter-space: 0rem
    );

    @include md {
      font-size: 1.8rem;
    }

    b {
      color: $highlight-color;
    }
  }

  article {
    @include display-style(
      $direction: column,
      $justify: normal,
      $align: normal
    );
    gap: 20px;

    @include lg {
      @include display-style($justify: normal, $align: normal);
    }

    @include md {
      @include display-style(
        $direction: column,
        $justify: normal,
        $align: normal
      );
    }

    span {
      @include display-style($justify: normal);
      gap: 15px;
      border: 1px solid $primary-color;
      width: 250px;
      height: 50px;
      border-radius: 12px;
      padding: 10px;
    }

    span:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.contact-font-icon {
  color: #de6449;
}

.social_handle-container {
  @include display-style($justify: normal, $align: flex-end);
  gap: 30px;
  flex: 1;
}

.social-icon {
  width: 30px;

  @include sm {
    width: 25px;
  }
}

.quote {
  @include display-style;
  letter-spacing: 0.1em;
  width: 250px;
  height: 50px;
  margin: 0;
  color: $primary-color;
  background-color: $highlight-color;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  align-self: flex-end;
}
