.service-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;

  @include bp(1010px) {
    grid-template-columns: auto auto;
  }

  @include md {
    @include display-style($align: normal, $justify: normal);
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: mandatory;
  }
}

.services-item {
  @include display-style($direction: column, $justify: normal);
  color: $dark-text-color;
  width: 320px;
  box-shadow: $box-shadow;
  scroll-snap-align: center;
}

.service-img {
  background-color: $primary-color;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: 220px;

  img {
    @include sizes($primary-width, $primary-height);
    box-shadow: $box-shadow;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.service-details {
  @include display-style($direction: column, $align: normal);
  gap: 10px;
  z-index: 1;
  padding: 20px;
  width: 320px;
  height: 180px;
  box-shadow: $box-shadow;
  background-color: $primary-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  article {
    @include display-style($direction: column, $align: normal);
    gap: 10px;
  }
}

.service-price {
  @include display-style($justify: space-between);

  .font-arrow-icon {
    @include display-style;
    border: 1px dashed $dark-text-color;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .font-arrow-icon:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: $secondary-color;
  }
}
