.timeline-section {
  @include bp(550px) {
    border: 2px solid $secondary-color;
  }
}

.timeline-title {
  @include display-style();
  gap: 20px;

  @include bp(550px) {
    flex-direction: column;
    gap: 0;
  }

  h3 {
    @include display-style();
    border: 2px solid $highlight-color;
    height: 70px;
    width: 100%;
    padding: 10px;

    @include font-style(
      $size: 2rem,
      $weight: 600,
      $line-height: 3rem,
      $letter-space: 0.5rem
    );

    @include bp(550px) {
      border-color: $secondary-color;
    }
  }

  h3:hover {
    background-color: rgba(92, 104, 116, 0.5);
  }
}

.timeline-item {
  @include display-style($justify: normal, $align: normal);
  gap: 40px;
  margin-top: 30px;

  @include bp(650px) {
    @include display-style(
      $direction: column,
      $justify: normal,
      $align: normal
    );
  }
}

.border {
  width: 3px;
  background-color: $dark-background-color;
  position: relative;

  @include bp(650px) {
    width: 100%;
    height: 3px;
    order: 3;
  }

  div {
    position: absolute;
    bottom: -30px;
    left: -18px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: $dark-text-color;
    background-color: $highlight-color;

    @include bp(650px) {
      bottom: -18px;
      left: -18px;
    }
  }
}

.timelime-info {
  @include display-style(
    $direction: column,
    $justify: normal,
    $align: flex-end
  );
  gap: 5px;
  flex: 0.5;

  @include lg {
    flex: 1;
  }

  @include bp(650px) {
    order: 3;
  }

  @include bp(550px) {
    padding-right: 15px;
  }

  :nth-child(2) {
    @include font-style($size: 0.8rem, $weight: 700);
  }
  :nth-child(3) {
    @include font-style($size: 0.7rem, $weight: 400);
  }
}

.timeline-details {
  flex: 2;

  @include bp(550px) {
    padding: 0 15px;
  }

  ul {
    padding: 10px 0;
    padding-left: 50px;

    @include bp(550px) {
      padding-left: 30px;
    }
  }
}
